body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#2c3e50;
color:white;
text-align:center;
padding:40px;
}

section{
padding:40px;
}

footer{
background:#2c3e50;
color:white;
text-align:center;
padding:20px;
}
.hero{
background:#27ae60;
color:white;
text-align:center;
padding:80px 20px;
}

.hero h2{
font-size:40px;
margin-bottom:20px;
}

.hero p{
font-size:18px;
}

.donate-btn{
background:white;
color:#27ae60;
padding:12px 25px;
text-decoration:none;
font-weight:bold;
border-radius:5px;
}
.programs{
text-align:center;
padding:60px 20px;
}

.program-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.program{
background:white;
padding:20px;
width:220px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.contact{
background:#f4f4f4;
text-align:center;
padding:50px;
}
.gallery{
text-align:center;
padding:60px;
}

.gallery-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.gallery img{
width:250px;
border-radius:10px;
}
.about{
text-align:center;
padding:60px 20px;
background:#ffffff;
}
